<h1>Cookbook</h1>

<% @recipes.each do |recipe| %>
  <h2><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h2>
  <h3><%= recipe.chef %></h3>
  <h3><%= recipe.ingredients %></h3>
  <h3><%= recipe.directions %></h3>
  <h5><a data-confirm="Are you sure you want to delete?" data-method="delete" href="/recipes/<%= recipe.id %>" rel="nofollow">Delete</a></h5>
  <hr>
<% end %>