<h1><%= @recipe.title %></h1>
<h2>By: <%= @recipe.chef %></h2>
<h1>Price: $<%= @recipe.price %></h1>
<h1>Tax: $<%= @recipe.tax %></h1> <!-- The .tax is a model method -->
<hr>
<h1>Total: $<%= @recipe.total %></h1> <!-- The .total is a model method -->
<h4>Updated on: <%= @recipe.friendly_updated_at %></h4> <!-- The .friendly_updated_at is a model method -->

<h3>Prep Time: <%= @recipe.friendly_preptime %></h3> <!-- The .friendly_preptime is a model method -->


<%= image_tag @recipe.image %>

<%= link_to "Home", "/" %>
<%= link_to "Edit", "/recipes/#{@recipe.id}/edit" %>
<%= link_to "Delete", "/recipes/#{@recipe.id}", method: :delete, data:{confirm: "Are you sure?"} %>